body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #333;
  overflow: hidden;
}

p {
   margin-bottom: .5rem;
}

h1 { font-size: 40px; }
h2 { font-size: 20px; }

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display",serif; font-weight: 900; font-weight: bold;
}

h6 {
  padding: 10px 0 0;
  font-weight: bold;
  margin-bottom: 0;
}

#overview h6 { margin-bottom: 4px; }

#map { height: 100vh; }


.mapboxgl-ctrl-top-right {
    right: 15px;
}

/* Address search box */
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
	top: 84px;
}

.mapboxgl-ctrl-geocoder {
    /* left: 50%; */
    transform: translateX(18%)
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl { margin: 0 0 20px 20px; }

/* Zoom in/out buttons */
/*
div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div.mapboxgl-ctrl.mapboxgl-ctrl-group {
	transform: translateY(-45px);
}
*/


.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
}


.infobox { height: 100vh; padding: 50px 45px 0 15px; overflow: auto;  }

.info {
  position: absolute;
  color: #fff;
  border: 1px solid #999;
  display: none;
  top: 144px;
  right: 20px;
  z-index: 100;
  width: 250px;
  height: calc(100vh - 180px);
  padding: 15px;
  font-size: 13px;
  line-height: 120%;
  overflow: auto;
}

.info .pname {
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0 15px;
}

.info .pcounty { font-weight: bold; font-size: 12px; text-transform: uppercase; color: #900; }
.info .elex { margin: 10px 0 10px; }
.info table { width: 100%; font-size: 12px; margin-top: 15px; }
.info table td { border-top: px solid #ccc; padding: 3px 0;}
.info table.margins td { border: none; padding: 0; }
.info table.margins th { width: 50%; padding-bottom: 6px; }
.info table.demo td { border-top: 1px solid #ccc; padding: 1px 0; font-size: 90%; }
.info table .num { text-align: right; }
.info table.demo .num { font-weight: bold; }
.info .shiftblock,.info .marginblock { background-color: #2166ac; color: #fff; font-weight: bold; padding: 3px 5px; }
.info .marginblock.shift_R,.info .shiftblock.shift_R { background-color: #b2182b; }

.left-panels, .right-panels {
  font-size: 11px;
  line-height: 130%;
  position: absolute;
  top: 94px;
  left: 0;
  margin-left: 15px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 124px);
}

.right-panels {
  right: 45px;
  padding: 15px;
  left: unset;
  margin: 0 15px 0 0;
  overflow-y: auto;
  z-index: 1;
}

.left-top {
  top: 94px;
}

.right-top {
  top: 140px;
}

.left-bottom {
  bottom: 0;
  margin-bottom: 40px;
}


#overview {
  padding-right: 8px;
  overflow-y: auto;
  width: 160px;
  position: relative;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  font-weight: bold;
  line-height: 0;
  display:none;
}

#legend .legend-hed, #legend .note {
  line-height: 120%;
}

.legend-hed {
  margin-bottom: 4px;
  font-size: 13px;
}

.note {
  font-size: 9px;
  font-weight: 400;
  margin-top: 8px;
}

.legend-key {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.legend-val {
  vertical-align: 3px;
}


.aboutbtn:hover,
.aboutbtn:active,
.aboutbtn:focus {
		background-color: #aaa;
		border-color: #aaa;
	}

.aboutbtn,
.aboutbtn:visited {
	float: right;
	z-index: 200;
	background-color: #d73027;
	border-color: #d73027;
	font-size: .8rem;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 144px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

.med {
  margin-top: 5px;
}

.above, .below {
  padding: 0 3px;
  font-size: 95%;
}

.below {
  background-color: #fdae61;
}

.above {
  background-color: #a6d96a;
}

.btn-group-sm>.btn, .btn-sm {
  font-size: .675rem;
  font-weight: bold;
}

.form-control-sm {
    font-size: .675rem;
}

.custom-control-label {
    font-size: .875rem;
    font-weight: bold;
    padding-top: 5px;
    color: #ccc;
}

/*
.redline-layers {
    display:none;
}
*/

table.legend {
    width: 100%;
}

.legend td { padding: 2px; }
td.grade {
    text-align: center;
    font-weight: bold;
    width: 1.5em;
}

td.desire {
    padding-left: 5px;
}

.legend-scale { width: 100%; }
.legend-labels { margin:0;padding:0;float: left;list-style: none;text-align: center; width:100%; }
.legend_demographics {
    margin-top:8px;
    display:none;
}
.legend_demographics ul li { display: block; float: left; width: 20%; margin-bottom: 5px;text-align: left; font-size:10px; list-style: none; }
.legend_demographics ul.tick-values li { text-align: center; }
.legend_demographics ul.savings li { width:20%; }
.legend_demographics ul li span { display: block; float: left; height: 12px; width: 100%; }

.YlGnBu .q0-5{
    background-color:rgba(255,255,204,.6)
} 

.YlGnBu .q1-5{
    background-color:rgba(161,218,180,.6)
} 

.YlGnBu .q2-5{
    background-color:rgba(65,182,196,.6)
} 

.YlGnBu .q3-5{
    background-color:rgba(44,127,184,.6)
} 

.YlGnBu .q4-5{
    background-color:rgba(37,52,148,.6)
}


.wells-legend,.stdev-legend,.interp-legend { display:none; }

.regression { margin-top: 5px; }

.wells-legend tr { line-height: .75em; }
.wells-legend td.grade { width: 1em; border-radius: 1em; }
.wells-legend table { border-collapse: separate; }
.credit { position: absolute; bottom: 15px; font-size: 11px;}
.finished { margin-top: 5px; }